/* Error: $color1: var(--ofx-accent-cyan) is not a color.
 *    ,
 * 95 |   color: mix(var(--ofx-accent-cyan), var(--ofx-accent-violet), 40%);
 *    |          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   docs/overrides/assets/stylesheets/theme.scss 95:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color1: var(--ofx-accent-cyan) is not a color.\a    \2577 \a 95 \2502    color: mix(var(--ofx-accent-cyan), var(--ofx-accent-violet), 40%);\a    \2502           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   docs/overrides/assets/stylesheets/theme.scss 95:10  root stylesheet";
}
